# this is .gitignore file.
# 以下是忽略的文件
#文本
**/*.txt
#日志
**/*.log
#静态库
**/*.a 
#汇编/反汇编
**/*.asm
#配置文件
**/*.json
#过程文件
**/*.[iods]
**/*.res
#防止部分系统大小写不区分
!**/start.S
!**/entry.S

#工程目标
**/*.elf
#烧录文件
**/*.bin
**/*.hex
**/*.s19
#反汇编
**/*.dump
#目标解析
**/*.readelf
**/*.map
#Verilog联调
**/*.verilog
#表格统计
**/*.csv
**/*.tags